[Unit]
Description=Selene ah Service - Service to start the selene-ah frontend app
After=network.target

[Service]
ExecStart=/usr/bin/node /home/ubuntu/selene-ah-frontend/server.js
Restart=on-failure
Type=simple
User=ubuntu

[Install]
WantedBy=multi-user.target
